/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
    font-family: 'Quicksand', sans-serif!important;
    background-image: url(assets/images/background.png);
}

img{
    width: 100%;
}